@import "../../color.scss";

.element_Todo {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    transition: background 250ms ease-in-out;
    transition: font-weight 250ms ease-in-out;
    border: 0.5px solid $light-1;

    
    &:hover {
        background: $light-1;
        font-weight: bolder;
    }

    .checked {
        text-decoration: line-through;
        opacity: 0.5;
    }
    
    .delete_Todo {
      width: 20px;
    }
}